/* ---------------------------------------------------------------------------------------
	Contents SCSS rules
---------------------------------------------------------------------------------------- */

div.amos{
	div#street_view {
		& img {
			width: 100%;
		}
		height: rem(184);
		overflow: hidden;
	}
	.p-m{
		padding-bottom: 0;
		h1{
			margin-top: 0;
		}
		ul{
			margin-top: 0;
			display: block;
		}
	}
}
