/* ---------------------------------------------------------------------------------------
	Errors SCSS rules
---------------------------------------------------------------------------------------- */

//++ Errors Wrapper
div.app-errors-wrapper {
	//old browsers
	div.browsers {
		margin-top: rem(40);
		div.browser-grid {
			max-width: rem(660);
		}
		div {
			&.cr a { background-position: 0 0; }
			&.ff a { background-position: rem(-100) 0; }
			&.op a { background-position: rem(-200) 0; }
			&.sf a { background-position: rem(-300) 0; }
			&.ie a { background-position: rem(-400) 0; }
			&.tc a { background-position: rem(-500) 0; }
		}
		a  {
			display: inline-block;
			border: 0;
		    width: rem(100);
		    height: rem(100);
		    background: transparent url('../images/icons/icons-browser.png') no-repeat top left;
		    opacity: 0.7;
		    &:hover  { opacity: 1; }
		    &:active { opacity: 1; }
		}
		//MediaQueries
		@include breakpoint(small only) {
			a { padding-bottom: rem(120); }
		}
	}
	//legacy old-browsers
	div.browsers-legacy {
		a {
			margin: 8px; //fallback for legacy browsers
			font-size: 18px;
		}
	}
}
