/**
 * App Settings
 */

/* App Vars
---------------------------------------------------------------------------------------- */

//app
$app_name : "Aira";

//fonts
$app_fonts_dir	  : "../fonts/";
$app_primary_font : "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

//font-face (path ../fonts/<lower_case_name>/<font_real_name>.tff)
@each $font-face in "FontAwesome" {
    @font-face {
          font-family: $font-face; font-style: normal; font-weight: normal;
          src: url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.eot'); /* IE9 Compat Modes */
          src: url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.woff2') format('woff2'), /* Super Modern Browsers */
               url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.woff') format('woff'), /* Pretty Modern Browsers */
               url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.ttf')  format('truetype'), /* Safari, Android, iOS */
               url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.svg#open_sansregular') format('svg'); /* Legacy iOS */
    }
}

//colors
$app_primary_color    : #999;
$app_secondary_color  : #85C11E;
$app_tertiary_color   : #333;
$app_quaternary_color : #628F14;

$app_success_color: #3adb76;
$app_warning_color: #ffae00;
$app_alert_color: #ec5840;
