/* ---------------------------------------------------------------------------------------
	Auth SCSS rules
---------------------------------------------------------------------------------------- */
// Login box
div.app-auth-wrapper{
  @include app-bg-cover("../images/bg/bg-login.jpg");
  height: 100%;
  width: 100%;
}

// Login form
div.app-login-content{

  @extend %app-centered-screen;
  width: rem-calc(866);
  background-color: rgba(74, 73, 74, 0.4);
  border: 1px solid #161519;
  padding: rem-calc(60 160);
  height: auto;
  //breakpoints
  @include breakpoint(xlarge up) {
    padding: rem-calc(100 160);
  }

  div.app-form {
    font-family: $app_primary_font;
    display: block;
    width: rem-calc(539);

    input {
      width: 100%;
      height: rem-calc(54);
      border: 1px solid #161519;
      color: #4a4a4a;
      font-size: rem-calc(25);
      font-weight: 400;
      margin: 0;
      &:nth-of-type(n+1) { margin-top:rem-calc(20); }
    }

    img.logo{
      display: block;
      margin: 0 auto rem-calc(85) auto;
    }

    button.app-btn{
      width: 100%;
      height: rem-calc(54);
      background-color: #4a4a4a;
      color: #fff;
      font-size: rem-calc(18);
      font-weight: 700;
      text-transform: uppercase;
      margin-top: rem-calc(16);
      margin-bottom: rem-calc(34);
      &:hover {
        background-color: scale-color(#4a4a4a, $lightness: -10%);
        color: scale-color(#fff, $lightness: -10%);
      }
    }

    a, h6{
      font-family: $app_primary_font;
      color: #272729;
      font-size: rem-calc(23);
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
