/* ---------------------------------------------------------------------------------------
	Components SCSS rules
---------------------------------------------------------------------------------------- */

// Driver list
.drivers-list{
  ul.tabs{
    font-family: $app_primary_font;
    border: none;

    li.tabs-title{
      > a{
        font-size: rem-calc(25);
        padding: 0 rem(38);
        color: #3e3e43;
        font-weight: 400;
      }

      > a[aria-selected='true']{
        color: #b8b7bc;
        font-weight: 700;
      }
    }

    li:first-child a{
      padding-left: 0;
    }

    //separator
    li + li:before {
      content: "|";
      position: absolute;
      color: #b8b7bc;
    }
  }

  div.tabs-content{
    border: none;
    font-family: $app_primary_font;
    padding: rem-calc(18) 0;

    & div.row{
      div.column{
        max-width: rem-calc(460);
        padding-right: rem-calc(9);
        position: relative;
        font-size: rem-calc(26);

        //inner row
        & div.row{
          position: absolute;
          left: 0;
          width: calc(100% - 9px); // equal to padding-right: rem-calc(9);
          color: $app_quaternary_color;
          font-family: $app_primary_font;
          font-weight: 400;
          text-align: center;
          letter-spacing: rem-calc(0.7);

          p{
            margin: 0;
          }

          p.identification{
            font-weight: 700;
          }

          p.vehicle_data{
            color: $app_tertiary_color;
            padding-top: 1rem;
          }

          span.description{
            color: $app_tertiary_color;
            display: block;
          }

          //breakpoints
          @include breakpoint(small up) {
            font-size: rem-calc(14);
            bottom:rem-calc(22);
            p.identification{ line-height: rem-calc(17); }
          }

          @include breakpoint(medium up) {
            font-size: rem-calc(16);
            bottom:rem-calc(24);
            p.identification{ line-height: rem-calc(19); }
          }

          @include breakpoint(large up) {
            font-size: rem-calc(18);
            bottom:rem-calc(26);
            p.identification{ line-height: rem-calc(21); }
          }

          @include breakpoint(xlarge up) {
            font-size: rem-calc(20);
            bottom:rem-calc(28);
            p.identification{ line-height: rem-calc(23); }
          }

          @include breakpoint(xxlarge up) {
            font-size: rem-calc(22);
            bottom:rem-calc(30);
            p.identification{ line-height: rem-calc(25); }
          }
        }
      }

      //shadow
      div.column:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: rem-calc(-1);
        height: 100%;
        width: calc(100% - 9px); // equal to padding-right: rem-calc(9);
        background-image: linear-gradient(180deg, transparent 0%, #0b161c 100%);
      }
    }
  }
}


// Driver Map location
.driver-map-panel{
  position: relative;
  clear: both;
  #map{
    position: relative;
    clear: both;
  }
}

// 4 x 1 boxes grid status
.driver-status-panel{
  @include grid-row(0);

  color: $app_tertiary_color;
  padding-bottom: rem-calc(10);

  //disable link color
  a{
    color: inherit;
  }

  //last column not padding
  a:last-child > .columns{
    padding-right: 0;
  }

  h1{
    font-family: $app_primary_font;
    font-weight: 700;
  }

  h3{
    font-family: $app_primary_font;
  }

  a > .columns{
    position: relative;
    max-height: rem-calc(313);
    max-width: rem-calc(472);
    padding-right: rem-calc(6);

    .status{
      @include background-image(radial-gradient(203px 203px at 50% 30%, #47464b 0%, #272729 100%));
      padding: rem-calc(23 37 38 23);
      border-bottom: rem-calc(2) solid $app_primary_color;

      .progress.good, .progress.danger, .progress.verygood, .progress.alert {
        .progress-meter{
          border-radius: 10px;
        }
      }
    }
    & h1{
      font-weight: 100;
      span{
        font-family: $app_tertiary_font;
        font-weight: 700;
      }
    }

    //bottom boxes
    & .row:nth-child(2){
      max-width: rem-calc(472);

      //first minibox
      & .columns:first-child{
        border-right: rem-calc(2) solid $app_primary_color;
      }

      //second minibox
      & .columns:nth-child(2){
        border-right: rem-calc(2) solid $app_primary_color;
      }

      & .columns{
        padding: rem-calc(9 0);
        background-color: #212122;

        h1{
          font-family: $app_secondary_font;
          opacity: 0.7;
          color: #68676d;
          font-weight: 400;
          max-height: rem-calc(62);
        }
        h5{
          color: #47464b;
          font-weight: 400;
          max-height: rem-calc(31);
          font-family: $app_primary_font;
        }
      }
    }

  }

  > div.columns:before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    @include background-image(radial-gradient(rem-calc(203 203) at 50% 2%, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.1) 90%));
  }
}

// Driver details panel
.driver-detail-panel{
  @include grid-row(0);

  color: $app_tertiary_color;
  padding-bottom: rem-calc(5);

  h2,h3{
    font-family: $app_primary_font;
  }

  h2{
    color: #4a90e2;
    font-size: 40px;
    font-weight: 700;
  }

  .id, .car, .status{
    background-color: #272729;
    max-height: rem-calc(205);
    overflow: hidden;
    height: rem-calc(205);
  }

  .id{
    padding: rem-calc(20 25 25 25);
    margin-right: rem-calc(6);
  }
  .car{
    padding: rem-calc(20 25);

    //text align
    h3:nth-child(3), h3:nth-child(5){
      padding-left: rem-calc(25);
    }
    margin-right: rem-calc(6);
  }
  .status{

    #status-text{
      font-family: $app_secondary_font;
      color: #4a90e2;
      font-size: rem-calc(100);
      font-weight: 400;
      text-transform: uppercase;
      max-height: rem-calc(154);
      display: block;
      padding: rem-calc(44 18 24 55);
      line-height: 1;
      text-align: right;
      border-bottom: rem-calc(5) solid black;
      position: relative;
    }

    #status-text:before{
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      @include background-image(radial-gradient(rem-calc(203 203) at 50% 5%, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.05) 70%));
    }

    div:nth-child(2){
      padding: rem-calc(3 18 7 55);
      max-height: rem-calc(49);
    }

    h4{
      max-height: rem-calc(40);
      color: #68676d;
      font-size: rem-calc(30);
      font-weight: 400;
      text-align: right;
      font-family: $app_primary_font;
    }
  }
}

// Driver Speeding Panel
.driver-speeding-panel{
  @include grid-row(0);
  min-height: rem-calc(410);
  margin-bottom: rem-calc(5);

  color: #3e3e43;
  background-color: #47464b;
  background-image: radial-gradient(rem-calc(406) rem-calc(406) at 45% 0, #47464b 0%, #272729 100%);
  position: relative;

  //div chart
  > div:first-child{
    padding: rem-calc(39 39 45 39);
      //tab-list padding
      > div:nth-child(2){
        padding-left: rem-calc(40);
      }
  }

  .sidebar{
    text-align: center;
    top: 0;
    border-left: rem-calc(1) solid black;
    min-height: rem-calc(444);

    > div:first-child{
      padding: rem-calc(24 36);
      color: #68676d;
      font-size: rem-calc(28);
      font-weight: 400;
      line-height: 1;
      border-bottom: rem-calc(1) solid black;
    }

    h1{
      font-family: $app_secondary_font;
      opacity: 0.7;
      color: #68676d;
      font-weight: 400;
      max-height: rem-calc(62);
      padding-top: rem-calc(11);
    }
    h5{
      font-family: $app_primary_font;
      color: #47464b;
      font-weight: 400;
      padding-top: rem-calc(4);
      padding-bottom: rem-calc(4);
    }
  }

  h2, h4{
    line-height: 1;
    font-family: $app_primary_font;

  }

  h2{
    color: #929292;
    font-weight: 400;
  }

  h4{
    font-family: $app_primary_font;
    color: white;
    font-weight: 400;
    font-size: rem-calc(28);
  }

  //Tabs
  ul.tabs{
    border: none;
    font-family: $app_primary_font;
    width: 100%;
    background: none;

    li.tabs-title{
      > a{
        font-size: rem-calc(28);
        padding: 0 rem(10);
        //font-weight: 400;
        color: #68676d;;
      }

      > a[aria-selected='true']{
        color: #6e6e6f;
        background: none;
        font-weight: 700;
      }
    }

    li:last-child a{
      padding-right: 0;
    }

    //separator
    li + li:before {
      content: "";
    }
  }

  .tabs-content{
    clear: both;
    display: block;
    background: none;
    border: none;
    padding-top: rem-calc(59);
  }
}

// Driver Speeding Panel
.driver-timeline-panel{
  @include grid-row(0);
  min-height: rem-calc(410);

  color: #3e3e43;
  background-color: #272729;
  position: relative;

  padding: rem-calc(39);

  h2, h4{
    line-height: 1;
    font-family: $app_primary_font;
  }

  h2{
    color: #929292;
    font-weight: 400;
  }

  h4{
    color: white;
    font-weight: 400;
    font-size: rem-calc(28);
  }

  //div chart
  > div:nth-child(2){
    padding-left: rem-calc(60);
  }

  ul.tabs{
    border: none;
    font-family: $app_primary_font;
    width: 100%;
    background: none;

    li.tabs-title{
      > a{
        font-size: rem-calc(28);
        padding: 0 rem(10);
        font-weight: 400;
        color: #68676d;;
      }

      > a[aria-selected='true']{
        color: #6e6e6f;
        background: none;
        font-weight: 700;
      }
    }

    li:last-child a{
      padding-right: 0;
    }

    //separator
    li + li:before {
      content: "";
    }
  }

  .tabs-content{
    clear: both;
    display: block;
    background: none;
    border: none;
    position: relative;
    padding-top: rem-calc(42);

    p{
      font-size: rem-calc(30);
      font-weight: 400;
      color: #68676d !important;
      padding-left: rem-calc(75);
      span{
        color: inherit;
      }
    }
    p:before{
      content: '';
      position: absolute;
      left: 1.5rem;
      width: rem-calc(0.5);
      height: 4rem;
      background-color: #979797;
    }

    p:after{
      content: '';
      position: absolute;
      left: 0;
      border: 10px solid #272729;
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }

    p.alert:after{
      background-color: #e1bc29;
    }

    p.verygood:after{
      background-color: #04e762;
    }

    p.danger:after{
      background-color: #e15554;
    }
  }
}

// Full Page Map component
div.map-fullsize{
  height: 100%;
  #full-map{
    height: 100%;
  }
}
