/**
 * Common Form styles
 */

/* Mixins
---------------------------------------------------------------------------------------- */


/* Placeholders
---------------------------------------------------------------------------------------- */



/* Classes
---------------------------------------------------------------------------------------- */

//forms
.app-form {

	//error messages
	small.form-error {
		display: block;
		margin: 0;
		padding-top: rem-calc(12);
		font-size: rem-calc(14);
		font-style: italic;
		color: $app_alert_color;
		text-align: left;
	}
}

//separator line
hr {
	margin: rem(30) 0;
	height: rem(1);
	line-height: rem(1);
	font-family: Helvetica, Roboto, Arial, sans-serif;
	font-size: rem(12);
	text-align: center;
	//ensure 1px gap between borders
	box-sizing: content-box;
	&.border { border: rem(1) solid #999; }
	&:after {
		//content: "§";
		color: #999;
		display: inline;
		padding: 0 rem(8);
		background: #fff;
	}
	//langs
	&.es:after { content: "o"; }
	&.en:after { content: "or"; }
	//other symbols
	&.ss:after { content: "§"; }
	&.empty:after {
		content: "";
		background: transparent;
	}
}
//opera doesn't render correctly. hide section sign
x:-o-prefocus, hr:after { content: ""; }
