/* ---------------------------------------------------------------------------------------
	Layout SCSS rules
---------------------------------------------------------------------------------------- */

/* Wrappers
---------------------------------------------------------------------------------------- */

html {
  background-color: #020506;
}

body{
  background-color: #020506;
  font-family: $app_primary_font;

  div#wrapper{
    height:  100%;
    width: 100%;
  }
}

.app-container{
  padding: rem-calc(38 38 38 42);
  height: calc( 100% - 5.5rem);
}

.app-driver-wrapper, .app-map-wrapper{
  height: 100%;
}

//Extending color class palette
.verygood {
  color: map-get($foundation-palette, verygood) !important;
}
.good {
  color: map-get($foundation-palette, good) !important;
}
.alert{
  color: map-get($foundation-palette, alert) !important;
}
.danger {
  color: map-get($foundation-palette, danger) !important;
}

//Header
header{
  font-family: $app_primary_font;
  color: $app_primary_color;

  .top-bar{
    height: rem-calc(80);

    ul{
      display: table;
      height: 100%;
      li, li a{
        color: #4a90e2;
        display: table-cell;
        vertical-align: middle;
      }
    }

    .top-bar-left, .top-bar-right{
      height: 100%;
      font-weight: 700;
      font-size: rem-calc(25);
      font-family: $app_primary_font;
      letter-spacing: rem-calc(0.7);
    }

    .top-bar-title{
      width: rem-calc(259);
      height: 100%;
      border-right: 4px solid #020506;
      @include app-bg-image-retina("../images/icons/logo-small", "png", rem-calc(236), rem-calc(70), "0.1");
      background-repeat: no-repeat;
      background-position: rem-calc(38);
      background-size: 75%;
      a{
        height: 100%;
        width: 100%;
        display: block;
      }
    }

    .top-bar-left{
      padding-left: rem-calc(40);
      ul{
        li{
          padding-right: rem-calc(29);
        }
      }
    }

    //top navigation
    .top-bar-right{
      a{
        background: none;
        color: #6f6d72;
        font-weight: 700;
      }


      ul{
        li{
          border-left: 4px solid #020506;
          padding: 0 rem-calc(25);
        }
        li.default{
          opacity: 0.5;
          & a{
            color: #68676d;
          }

          &:hover{
            opacity: 1;
            color: #6f6d72;
          }
        }
      }
    }
  }
}

/**
 General Rules
**/
.profile{
  height: 100%;
}

// Google Maps hard styles
.gm-style-iw {
  width: rem-calc(337) !important;
  height: rem-calc(165);
  top: rem-calc(30) !important; // move the infowindow 15px down
  left: rem-calc(22) !important;
  border: none;
  @include background-image(url("../images/bg/tooltip-gmaps-bg.png"));
  z-index: -10;
}

#tooltip{
  height: rem-calc(165);
  width: rem-calc(337);

  div.status{
    width: rem-calc(51);
    font-family: $app_tertiary_font;
    font-size: rem-calc(18);
    text-align: center;
    font-weight: 400;
    padding-top: rem-calc(2);
    text-shadow: rem-calc(0) rem-calc(2) rem-calc(2) rgba(0, 0, 0, 0.4);

    //All flags level
    .level-0, .level-1, .level-2, .level-3{
      padding: rem-calc(6);
      opacity: 0.7;
      color: #272729 !important;
    }

    //Flags level
    .level-0{
      background-color: #04e762;
    }
    .level-1{
    }
    .level-2{
      background-color: #e1bc29;
    }
    .level-3{
      background-color: #e15554;
    }

    div{
      color: #272729;
      font-size: rem-calc(28);
      font-weight: 400;
      height: rem-calc(50);
      width: rem-calc(50);
    }
  }

  div.detail{
    width: rem-calc(280);
    padding: rem-calc(15 20 25 20);
    text-shadow: rem-calc(0) rem-calc(2) rem-calc(2) rgba(0, 0, 0, 0.4);

    h4{
      font-size: rem-calc(26);
      color: #4a90e2;
      font-weight: 700;
      letter-spacing: 0.7px;
    }
    p{
      margin: 0;
      color: #9b9b9b;
      font-size: rem-calc(20);
      font-weight: 400;
      letter-spacing: 0.55px;
      line-height: 1
    }
  }
}
