/* ---------------------------------------------------------------------------------------
	External Plugins SCSS rules
---------------------------------------------------------------------------------------- */

//++ Core Message notifications
.app-alert {
	width: 100%;
	margin: 0;
	padding: rem(18);
	border: 0 !important;
	border-radius: 0 !important;
	font-size: rem(16) !important;
	//customized alerts
	&.success {
		background: rgba(107, 176, 13, 0.9);
		a { color: #F0EC05; }
	}
	&.info {
		background: rgba(72, 38, 201, 0.9);
		a { color: #F0EC05; }
	}
	&.alert {
		background: rgba(201, 44, 38, 0.9);
		a { color: #F0EC05; }
	}
	&.warning {
		background: rgba(201, 81, 38, 0.9);
		a { color: #F0EC05; }
	}
	&.secondary {
		background: rgba(38, 158, 201, 0.9);
		color: #fff;
		a { color: #F0EC05; }
	}
	//childs
	div.holder { position: relative; }
	a.close {
		position: absolute;
		top: rem(-10);
		right: 0;
		background: transparent !important;
		color: #fff !important;
		font-size: rem(16);
	}
	div.content {
		display: table;
		padding-right: rem(20);
		> span {
			display: table-cell;
			vertical-align: middle;
			color: #fff;
			&.icon-wrapper { width: rem(35); }
			&.text { padding-left: rem(16); }
            .marked { color: $app_secondary_color; }
		}
		i {
		    display: table-cell;
		    width: rem(35);
		    height: rem(35);
		    padding-right: rem(10);
		    @include app-bg-image-retina('../images/icons/icons-notifications', 'png', rem(35), rem(175));
			background-repeat: no-repeat;
		    &.icon-ok 		 { background-position: 0 0; }
		    &.icon-info 	 { background-position: 0 rem(-35); }
		    &.icon-warning 	 { background-position: 0 rem(-70); }
		    &.icon-alert 	 { background-position: 0 rem(-105); }
		    &.icon-secondary { background-position: 0 rem(-140); }
		}
	}
}

//++ Core Loading alert
div#app-loading {
	display: none;
	padding: rem(14) rem(20);
	background: $app_secondary_color;
	border-radius: rem(12);
	color: #fff;
	font-size: rem(16);
	text-align: center;
	z-index: 9999;
}

//++ Modality Dialogs
div.modality-dialog {
	max-width: rem(400);
	//childs
	div.box {
		border-radius: rem(8);
		padding-bottom: rem(24);
		//border: rem(4) solid #666;
		background: #000;
		color: #fff;
	}
	div.header {
		margin: 0;
		padding: rem(6);
		background: #262626;
		text-align: center;
		font-size: rem(22);
		border-radius: rem(5) rem(5) 0 0;
	}
	div.body {
		padding: rem(40) rem(20) rem(30) rem(20);
		font-size: rem(18);
		text-align: center;
		overflow: hidden;
	}
	div.footer {
		padding: rem(6) rem(10);
		//background: #efefef;
		//border-top: 1px solid #cacaca;
		text-align: center;
		border-radius: 0 0 rem(5) rem(5);
	}
	button {
		display: inline-block;
		min-width: rem(100);
		margin: rem(2) 0;
		padding: rem(10) rem(12);
		border-radius: rem(20);
		background-color: #fff;
		color: #474747;
		font-size: rem(18);
		cursor: pointer;
		&:hover {
			background-color: #333;
			color: #fff;
		}
		&.button-0 {
			margin-right: rem(50);
			background: $app_secondary_color;
			color: #fff;
			&:hover { background-color: #333; }
		}
		&.button-2 { margin-left: rem(50); }
	}
}
