/**
 * App Settings
 */

/* App Vars
---------------------------------------------------------------------------------------- */

//app
$app_name : "Aira";

//fonts
$app_fonts_dir	    : "../fonts/";
$app_primary_font : "clearSansRegular", sans-serif;
$app_secondary_font : "kamerikBookRegular", sans-serif;
$app_tertiary_font : "kamerikBoldRegular", sans-serif;

//font-face (path ../fonts/<lower_case_name>/<font_real_name>.tff)
@each $font-face in "FontAwesome", "clearSansRegular", "kamerikBookRegular", "kamerikBoldRegular" {
    @font-face {
          font-family: $font-face; font-style: normal; font-weight: normal;
          src: url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.eot'); /* IE9 Compat Modes */
          src: url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.woff2') format('woff2'), /* Super Modern Browsers */
               url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.woff') format('woff'), /* Pretty Modern Browsers */
               url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.ttf')  format('truetype'), /* Safari, Android, iOS */
               url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.svg#open_sansregular') format('svg'); /* Legacy iOS */
    }
}

//colors
$app_primary_color    : #020506;
$app_secondary_color  : #161519;
$app_tertiary_color   : #9b9b9b;
$app_quaternary_color : #4a90e2;

$app_success_color: #3adb76;
$app_warning_color: #ffae00;
$app_alert_color: #ff3f5c;

//tabs
$tab-background: $app_primary_color;
$tab-background-active: $app_primary_color;
$tab-item-background-hover: $app_primary_color;
$tab-content-background: $app_primary_color;
$tab-content-padding: 0;

//top bar navigation
$topbar-background: $app_secondary_color;
$topbar-submenu-background: $app_secondary_color;
$topbar-padding: 0;
$topbar-title-spacing: 0;

//grid
$grid-row-width: 118rem; // max width layout
$grid-column-gutter: 0;
$grid-column-align-edge: false; // the last element to the left option

//typography
$header-margin-bottom: 0;
$header-sizes: (
  small: (
    'h1': 24,
    'h2': 20,
    'h3': 19,
    'h4': 18,
    'h5': 17,
    'h6': 16
  ),
  medium: (
    'h1': 55,
    'h2': 40,
    'h3': 34,
    'h4': 30,
    'h5': 23,
    'h6': 16
  )
);

//progress bar
$progress-height: rem(12);
$progress-background: #47464b;
$progress-meter-background: #4a90e2;
$progress-radius: rem(6);
$progress-margin-bottom: 0;

//Colors palette
$foundation-palette: (
    primary: #4a90e2,
    verygood: #04e762,
    good: #4a90e2,
    alert: #e1bc29,
    danger: #e15554
);
