<div class="row">
    <div class="col-md-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Map</h5>
            </div>
            <div class="ibox-content">
                <div class="google-map" id="map4"></div>
            </div>
        </div>
    </div>
</div>